body{
    background-color: rgb(255, 255, 255);
    max-width:90%;
    margin: 0 5%;
}

h1{
    text-align: center;
}

a{
    color: rgb(128, 85, 85);
}

table{
    border: 3px solid grey;
    border-radius: 20px;
    
    text-align:center;
    color: white;
    border: 5px dotted red; 
}
td{
    background-color: rgb(80, 58, 58);
    width:100px;
    border: 1px solid green;
    border-top:5px dotted red; 
}

tr{
    
    color: 15px dotted red;
}
th{
    color: rgb(252, 247, 247);
    background-color: rgb(66, 8, 8);
    height: 50px;
}
img{
    width:100px;
}

p{
    margin:15px;
    font-size: 20px;

}

